/* .board-container {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: red 1px solid;
  justify-content: center;
}
.square {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: yellow 1px solid;
}
#knight-icon {
  width: 15px;
  height: 15px;
  background-color: red;
} */
